.bigUDhead {
    margin-top:4vh;
    font-weight: bold;
    font-size:large;
}
.UDhead {
    font-size:large;
    margin-top:4vh;
}
.UDdate {
    font-size:small;
}
.metaPage a {
    color: #0b64b8;
}
.metaPage a:hover {
    color: #1b0807;
}