#twitchStreamBox {
    display:flex;
    flex-direction: column;
    border: 1px #000000;
    border-style: solid hidden solid hidden;
    padding-bottom:4vh;
}
.skriimiIkkuna {
    margin:auto;
}
.skriimiBanneri {
    width:80%;
    margin:auto;
    margin-top:4vh;
    margin-bottom:4vh;
}
.skriimiBanneri img {
    width:100%;
}

#etusivuContainer {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom:4vh;
}

.etusivuBoxesContainer {
    width:60%;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

.etusivuContentBox {
    margin-top:4vh;
    padding:10px;
    width:50%;
    max-width:45%;
    min-height:36vh;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    box-shadow:2px 2px 10px #cac6c381;
    background-color:rgba(255, 255, 255, 0.25);
}
.etusivuContentBox img {
    object-fit: contain;
    transition: .2s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.etusivuContentBox img:hover {
    opacity: 0.9;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.contentBoxHeader {
    font-weight: bold;
    font-size:large;

}

.contentBoxImageContainerYT {
    max-width: 90%;
    margin:auto;

}

.contentBoxImageContainer {
    max-width: 60%;
    margin:auto;

}

.contentBoxFooter {
    min-height:6vh;
    font-size:small;
    justify-self: flex-end;
}

#levyArvioBotTopList {
    min-width:35%;
    margin-top:4vh;
    max-width:38%;
    min-height: 30vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1vh;
    text-align: center;
    box-shadow:2px 2px 10px #cac6c3;
    background-color:rgba(18, 40, 236, 0.062);
}
.levyRaatiLeaderboardHeader {
    font-weight: bold;
    font-size:large;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow:2px 2px 10px #cac6c3;
    background-color:rgb(248, 244, 244);
}

.levyraatiLeaderboardItem {
    display:flex;
    padding:5px;
    gap:0.5vh;
    min-height:80px;
    font-size: small;
    text-align:left;
    margin-left:10px;
    margin-right:10px;
    box-shadow:2px 2px 10px #cac6c3;
    background-color:rgb(248, 244, 244);
}
.levyraatiLeaderboardItem img {
    display:block;
    width:20%;
    object-fit:contain;
}
.levyraatiLeaderboardDataBox {
    width:50%;
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    line-height: 1;
    gap:0.25vh;
}
.lrlbCopyright {
    font-size:x-small;
    margin-top:auto;
}

.levyraatiLeaderboardRatingBox {
    width:25%;
    max-height:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-self: flex-end;
    margin-top:auto;
    margin-bottom:auto;
    justify-content: flex-end;
    font-size:normal;

}
.levyraatiLeaderboardRatingBox img {
    width:50%;
    display:block;
    max-height:100%;
    margin-top: auto;
    margin-bottom:auto;
}
.lrlbrn {
    margin-left: 0.5vw;
    margin-top:auto;
    margin-bottom:auto;
}

