.App-header-new {
  min-height:16vh;
  /*color:white;
  background-image: url(https://i.imgur.com/zcTKp0l.png);
  background-repeat: repeat;*/
  display: flex;
  flex-direction: row;
}

.Header-new-textcontainer {
  font-family:'Courier New', Courier, monospace;
  padding-left:1vw;
  margin-right:auto;
  border:1px;
  border-style: none none solid none;
  margin-bottom:2vh;
  width:100%;
}